---
---

@charset "utf-8";

@import "bootswatch/lumen/variables";
@import "bootstrap";
@import "bootswatch/lumen/bootswatch";

body {
	border-top: 3px solid #175198;
	background: url(http://commbocc.github.io/fallenheroes/images/body-bg.png) repeat-x #222;
}

#mainContainer {
	background: #fff;
	padding: 15px 30px;
	min-height: 250px;
	border: solid 1px #000;
}

#mainNav {
	font-family: $font-family-sans-serif;
	margin-bottom: 0;
	border-radius: 0;
	border: none;
	margin-bottom: 3px;

	@media (min-width: $screen-sm-min) {
		text-align: center;
		.navbar-nav {
			display: inline-block;
			float: none;
		}
		.navbar-collapse {
			height: 40px !important;
			font-size: 16px;
		}
	}

}

#mainFooter {
	margin: 20px auto;
	color: #fff;
	a {
		color: #ccc;
		text-decoration: underline;
		&:hover {
			color: #999;
		}
	}
}

.list-fallen-heroes {

	.fallen-hero {
		-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
		page-break-inside: avoid; /* Firefox */
		break-inside: avoid; /* IE 10+ */
	}

	@media (min-width: $screen-sm-min) {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
	}
}

.embed-responsive-1by1 {
	padding-bottom: 100%;
}
