<footer id="mainFooter" class="container text-center">

	<p class="text-center">
		<ul class="list-inline text-center">
			{% for link in site.data.navigation.nav_items %}
			<li>
				<a href="{{ link.url }}" >{{ link.label }}</a>
			</li>
			{% endfor %}
		</ul>
	</p>

	<p class="text-center">
		&copy; 2010-{{ site.time | date: '%Y' }} Hillsborough County Board of County Commissioners
	</p>

	<p>
		County Center<br>
		601 E. Kennedy Blvd.<br>
		Tampa, FL 33602
	</p>
	<p>
		813-272-5900
	</p>

</footer>

