<footer id="mainFooter" class="container text-center">

	<p class="text-center">
		<ul class="list-inline text-center">
			{% for link in site.data.menu_nav %}
			{% if link.title %}
			<li>
				<a href="{{ link.href | prepend: site.baseurl }}" class="{{ link.class }}">{{ link.title }}</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</p>

	<p class="text-center">
		&copy; 2010-{{ site.time | date: '%Y' }} Hillsborough County Board of County Commissioners
	</p>

	<p>
		County Center<br>
		601 E. Kennedy Blvd.<br>
		Tampa, FL 33602
	</p>
	<p>
		813-272-5900
	</p>

</footer>

<!-- Include all compiled plugins (below), or include individual files as needed -->
{% for asset in site.data.assets.js %}
{% if asset.remote %}
<script src="{{asset.src}}"></script>
{% else %}
<script src="{{site.baseurl}}/javascripts/{{asset.src}}"></script>
{% endif %}
{% endfor %}
