@charset "utf-8";
/* CSS Document */

/* Hillsborough's Fallen Heroes Styles */

/* STRUCTURE */


/* LEGACY BLLED THROUGH FROM SITE */
table#queenmum {
	border:none;
	background:none;
	margin:0 auto;
	padding:0;
	width:0;
	}

hr {
	width: 60%;
	height: 1px;
	color:#ccc;
	}
	
html {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	}


body {
	padding:0;
	margin:0;
	background:url(/hfh/images/bg.jpg) top repeat-x;
	background-color:#222;
	line-height:21px;
	}

table#container {
	width:950px;
	height:100%;
	border-top:3px solid #175198;
	padding:0;
	margin:0 auto;
	}
	
table#scafolding {
	width:100%;
	padding:0;
	margin:0;
	border:0;
	}
	
table#scafolding td {
	padding:12px;
	}
	
table#scafolding td#noPad {
	padding:0;
	}
	
table#scafolding td#nav {
	padding:0;
	background-image:url(/hfh/images/navBG.jpg);
	background-position:top left;
	background-repeat:no-repeat;
	}
	
div#mainContent {
	margin-top:3px;
	padding:10px 30px;
	border:1px solid #666;
	background-color:#f1f1f1;
	}
	
	div#mainContent h2 {
		font-size:20px;
		font-weight:bold;
		color:#175198;
		padding:0;
		margin:5px 0;
		}
		
a {
	color:#175198
	}
	
a:hover {
	color:#92a0b1;
	}


/* NAVIGATION SCHEME */

div#navContainer {
	background:url(/hfh/images/navBG.jpg) no-repeat;
	margin:0 auto;
	padding:0;
	height:50px;
	width:600px;
	}
	
a.rolloverHome {
	float:left;
	display: block;
	width: 72px;
	height: 50px;
	text-decoration: none;
	background: url("/hfh/images/homeSprite.jpg");
	}

a.rolloverHome:hover {
	background-position:-72px 0;
	}

.displaceHome {
	position:absolute;
	left:-5000px;
	}
	
	
	
	
a.rolloverAbout {
	float:left;
	display:block;
	width:139px;
	height:50px;
	text-decoration:none;
	background: url("/hfh/images/aboutSprite.jpg");
	}

a.rolloverAbout:hover {
	background-position:-139px 0;
	}

.displaceAbout {
	position:absolute;
	left:-5000px;
	}
	


a.rolloverPlaza {
	float:left;
	display:block;
	width:118px;
	height:50px;
	text-decoration:none;
	background: url("/hfh/images/plazaSprite.jpg");
	}

a.rolloverPlaza:hover {
	background-position:-118px 0;
	}

.displacePlaza {
	position:absolute;
	left:-5000px;
	}
	
	

a.rolloverDonations {
	float:left;
	display:block;
	width:102px;
	height:50px;
	text-decoration:none;
	background: url("/hfh/images/donationSprite.jpg");
	}

a.rolloverDonations:hover {
	background-position:-102px 0;
	}

.displaceDonations {
	position:absolute;
	left:-5000px;
	}
	
	
	
a.rolloverMemorial {
	float:left;
	display:block;
	width:146px;
	height:50px;
	text-decoration:none;
	background: url("/hfh/images/memorialSprite.jpg");
	}

a.rolloverMemorial:hover {
	background-position:-146px 0;
	}

.displaceMemorial {
	position:absolute;
	left:-5000px;
	}

	
/* FOOTER */ 

div#footer {
   margin:50px auto 0 auto;
   position:relative;
   bottom:0;
   width:948px;
   padding:20px;
   color:#fff;
   font-size:11px;
   text-align:left;
   }
   
	#footer a {
		text-decoration:underline;
		color:#ccc;
   		}
		
	#footer a:hover {
		text-decoration:underline;
		color:#999;
		}