---
layout: page
---

<ol class="breadcrumb">
	<li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
	<li><a href="{{ '/memorial/' | prepend: site.baseurl }}">Memorial Pages</a></li>
	<li class="active">{{ page.category | upcase }}</li>
</ol>

{% unless page.content == '' %}
{{ content }}
{% endunless %}

<hr>

{% if site.categories.[page.category] %}

<ul class="list-unstyled list-fallen-heroes">
	{% for post in site.categories.[page.category] %}
	<li class="fallen-hero">

		<a class="thumbnail" href="{{ post.url | prepend: site.baseurl }}">
			<div class="row">
				<div class="col-xs-3">
					<div class="embed-responsive embed-responsive-1by1 text-cente">
						{% if post.images %}
						<img src="{{ site.baseurl }}/images/fallen/{{ post.path | remove: '_posts/' | remove: '.md' }}/{{ post.images.first }}" alt="{{post.name}}" class="img-responsive center-block" />
						{% else %}
						<i class="text-muted fa fa-fw fa-file-image-o fa-5x media-object"></i>
						{% endif %}
					</div>
				</div>
				<div class="col-xs-9">
					<h4 class="">
						{{ post.name }}
						<div class="small">
							{% if post.dob %}{{ post.dob | date: "%b %-d, %Y" }} - {% endif %}
							{% if post.dod_circa %}<abbr title="circa">c.</abbr> {{ post.date | date: "%Y" }}{% else %}{{ post.date | date: "%b %-d, %Y" }}{% endif %}
						</div>
					</h4>
				</div>
			</div>
		</a>

	</li>
	{% endfor %}
</ul>

{% else %}

<p class="text-center">
	<em>
		{{ page.title }} has not lost officers in the line of duty.
	</em>
</p>

{% endif %}
